In [9]:
import pandas as pd

In [10]:
df = pd.read_pickle('results/intervals_edited.pkl')
df.head()

   trajectory  interval_length interval_value
0           0         0.010000       positive
1           0         0.020000       negative
2           0         0.020000       positive
3           0        63.560636       negative
4           0        50.060501       positive

In [13]:
df[df['trajectory'] == 1]

     trajectory  interval_length interval_value
99            1         0.010000       positive
100           1         0.160002       negative
101           1         0.010000       positive
102           1        24.560246       negative
103           1         0.030000       positive
..          ...              ...            ...
167           1         0.110001       positive
168           1         0.010000       negative
169           1         0.010000       positive
170           1         0.010000       negative
171           1        34.360344       positive

[73 rows x 3 columns]